---
title: "My Notebook"
execute: 
  enabled: true
  echo: false
code-annotations: none
---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from utils import load_config
import numpy as np

In [2]:
import os

# Establecer la variable de entorno
os.environ['PYSPARK_PYTHON'] = '/home/juanpalms/anaconda3/envs/AnimeAnalytics/bin/python'

In [3]:
CURRENT=os.getcwd()
ROOT=os.path.dirname(CURRENT)

In [4]:
config_f=load_config("config.yaml")

In [5]:
datos=pd.read_csv(os.path.join(ROOT,config_f["data"]["main"]))
genres=pd.read_csv(os.path.join(ROOT,config_f["data"]["cat_genres"]))
themes=pd.read_csv(os.path.join(ROOT,config_f["data"]["cat_themes"]))

### Primeras estadisticas de prueba

 ### General statistics:

Number of scrapped animes:

In [6]:
number_anime=datos.shape[0]
number_anime

12600

Average Score:

In [7]:
Average_score=datos["score"].mean()
Average_score

6.4999325289728525

Number of emitted episodes:

In [8]:
datos["number_episodes"].sum()

170490.0

Number of studios

In [9]:
datos["studio"].nunique()

649

In [10]:
genres=genres\
    .sort_values(by="count",ascending=False)
genres

    id         genres  count
5    5         comedy   4935
0    0         action   3825
8    8        fantasy   3080
1    1      adventure   2622
15  15         sci_fi   2351
6    6          drama   2090
14  14        romance   1720
18  18   supernatural   1168
16  16  slice_of_life   1141
7    7          ecchi    759
12  12        mystery    734
13  13  not_available    665
17  17         sports    553
11  11         horror    408
2    2    avant_garde    372
3    3  award_winning    214
19  19       suspense    179
4    4      boys_love    103
10  10        gourmet    102
9    9     girls_love     87

In [11]:
top10_themes=themes\
    .sort_values(by="count",ascending=False)\
    .head(16)
top10_themes

    id         themes  count
27  27  not_available   4711
39  39         school   1586
22  22          mecha   1023
13  13     historical    888
25  25          music    700
24  24       military    571
30  30         parody    527
43  43    super_power    522
26  26      mythology    448
41  41          space    441
21  21   martial_arts    421
0    0     adult_cast    397
11  11          harem    357
33  33  psychological    334
16  16         isekai    253
7    7      detective    252

### The top:

- Best scored anime:

In [12]:
datos.loc[datos['score'].idxmax()]

ranking                                                            1
score                                                            9.1
title                               Fullmetal Alchemist: Brotherhood
url                https://myanimelist.net/anime/5114/Fullmetal_A...
studio                                                         bones
themes                                                  ['military']
genres                   ['action', 'adventure', 'drama', 'fantasy']
demographics                                                 shounen
emission_type                                                     tv
number_episodes                                                 64.0
members                                                    3149847.0
first_emission                                            2009-04-01
last_emission                                             2010-07-01
year                                                          2009.0
month                                                            4.0
Name: 0, dtype: object

- Top 3 longest and popular animes (In the same emission period)

In [13]:
top3_longest_anime=datos\
    .sort_values(by="number_episodes", ascending=False)\
    .head(15)\
    .sort_values(by="members",ascending=False)\
    .head(3)
top3_longest_anime

,ranking,score,title,url,studio,themes,genres,demographics,emission_type,number_episodes,members,first_emission,last_emission,year,month
941,942,7.79,Doraemon (1979),https://myanimelist.net/anime/2471/Doraemon_1979,shin_ei_animation,['anthropomorphic'],"['adventure', 'comedy', 'fantasy', 'sci_fi']","kids,_shounen",tv,1787.0,58880.0,1979-04-01,2005-03-01,1979.0,4.0
4376,4377,6.91,Ninja Hattori-kun,https://myanimelist.net/anime/4936/Ninja_Hatto...,shin_ei_animation,['martial_arts'],"['comedy', 'slice_of_life']",shounen,tv,694.0,10592.0,1981-09-01,1987-12-01,1981.0,9.0
5907,5908,6.59,Perman (1983),https://myanimelist.net/anime/11595/Perman_1983,shin_ei_animation,"['school', 'super_power']",['comedy'],kids,tv,526.0,3686.0,1983-04-01,1985-07-01,1983.0,4.0

- Top ten Most popular anime

In [14]:
most_popular_anime=datos\
    .sort_values(by="members", ascending=False)\
    .head(10)
most_popular_anime

,ranking,score,title,url,studio,themes,genres,demographics,emission_type,number_episodes,members,first_emission,last_emission,year,month
109,110,8.53,Shingeki no Kyojin,https://myanimelist.net/anime/16498/Shingeki_n...,wit_studio,"['gore', 'military', 'survival']","['action', 'award_winning', 'drama', 'suspense']",shounen,tv,25.0,3715906.0,2013-04-01,2013-09-01,2013.0,4.0
74,75,8.62,Death Note,https://myanimelist.net/anime/1535/Death_Note,madhouse,"['detective', 'psychological']","['supernatural', 'suspense']",shounen,tv,37.0,3684851.0,2006-10-01,2007-06-01,2006.0,10.0
0,1,9.10,Fullmetal Alchemist: Brotherhood,https://myanimelist.net/anime/5114/Fullmetal_A...,bones,['military'],"['action', 'adventure', 'drama', 'fantasy']",shounen,tv,64.0,3149847.0,2009-04-01,2010-07-01,2009.0,4.0
123,124,8.50,One Punch Man,https://myanimelist.net/anime/30276/One_Punch_Man,madhouse,"['adult_cast', 'parody', 'super_power']","['action', 'comedy']",seinen,tv,12.0,3035122.0,2015-10-01,2015-12-01,2015.0,10.0
3066,3067,7.20,Sword Art Online,https://myanimelist.net/anime/11757/Sword_Art_...,a_1_pictures,"['love_polygon', 'video_game']","['action', 'adventure', 'fantasy', 'romance']",not_available,tv,25.0,2934146.0,2012-07-01,2012-12-01,2012.0,7.0
730,731,7.90,Boku no Hero Academia,https://myanimelist.net/anime/31964/Boku_no_He...,bones,"['school', 'super_power']",['action'],shounen,tv,13.0,2861314.0,2016-04-01,2016-06-01,2016.0,4.0
121,122,8.51,Kimetsu no Yaiba,https://myanimelist.net/anime/38000/Kimetsu_no...,ufotable,['historical'],"['action', 'award_winning', 'fantasy']",shounen,tv,26.0,2772253.0,2019-04-01,2019-09-01,2019.0,4.0
614,615,7.98,Naruto,https://myanimelist.net/anime/20/Naruto,pierrot,['martial_arts'],"['action', 'adventure', 'fantasy']",shounen,tv,220.0,2696759.0,2002-10-01,2007-02-01,2002.0,10.0
949,950,7.79,Tokyo Ghoul,https://myanimelist.net/anime/22319/Tokyo_Ghoul,pierrot,"['gore', 'psychological']","['action', 'fantasy', 'horror']",seinen,tv,12.0,2681204.0,2014-07-01,2014-09-01,2014.0,7.0
10,11,9.04,Hunter x Hunter (2011),https://myanimelist.net/anime/11061/Hunter_x_H...,madhouse,['not_available'],"['action', 'adventure', 'fantasy']",shounen,tv,148.0,2631460.0,2011-10-01,2014-09-01,2011.0,10.0

-  Top ranked studios

In [15]:
top_ranked_studios=\
    datos[['studio','score']]\
    .groupby('studio')\
    .mean()\
    .sort_values(by="score",ascending=False)\
    .head(10)
top_ranked_studios

                             score
studio
k_factory                 8.396667
nippon_ramayana_film_co_  8.280000
studio_bind               8.182500
sharefun_studio           8.117500
fenz                      7.900000
studio_kafka              7.855000
shenman_entertainment     7.780000
djinn_power               7.770000
square_enix_visual_works  7.637500
motion_magic              7.635455

- Most popular studio

In [16]:
top_10_popular_studios=\
    datos[['studio','members']]\
    .groupby('studio')\
    .mean()\
    .sort_values(by="members", ascending=False)\
    .head(10)
top_studios_list = top_10_popular_studios.index.tolist()
animes_from_top_studios = datos[datos['studio'].isin(top_studios_list)]

In [17]:
top_10_popular_studios

                        members
studio
studio_bind       536163.750000
white_fox         410588.951220
wit_studio        366050.904762
bones             321106.436620
aic_build         297174.555556
mappa             296174.169231
cloverworks       290328.324324
david_production  270820.581395
a_1_pictures      254106.824074
lerche            252499.089286

- Studio with the greatest number of episodes

In [18]:
top_10_more_episodes_studios=\
    datos[['studio','number_episodes']]\
    .groupby('studio')\
    .sum()\
    .sort_values(by="number_episodes", ascending=False)\
    .head(10)
#top_studios_list = top_10_popular_studios.index.tolist()
#animes_from_top_studios = datos[datos['studio'].isin(top_studios_list)]

In [19]:
top_10_more_episodes_studios

                      number_episodes
studio
add_some                      23186.0
toei_animation                12402.0
sunrise                        7632.0
shin_ei_animation              5571.0
pierrot                        5486.0
eiken                          4999.0
nippon_animation               4859.0
olm                            4773.0
madhouse                       4505.0
tatsunoko_production           4222.0

- Top 10 popular demographics

In [20]:
top10_popular_demografics=datos[['demographics','members']]\
    .groupby("demographics")\
    .sum()\
    .sort_values(by="members", ascending = False)
top10_popular_demografics

                   members
demographics
not_available  473890703.0
shounen        268889674.0
seinen          94560398.0
shoujo          37188215.0
kids             8002789.0
josei            7471899.0
kids,_shounen     357165.0
kids,_shoujo       61880.0